h1{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
}
h2{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 110%;
}
h3{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
}
h4{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
}
h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}
h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
}
p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}
body {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    background-image: url(/img/BG.svg);
    background-position: center;
    /* background-size: cover; */
/*     filter: blur(10px);
    -webkit-filter: blur(10px); */
}
header, section{
    display: flex;
    justify-content: center;
    background: rgba(26, 30, 33, 0.8);
}
header {
    background: #1A1E21;
    height: 80px;
    border-bottom:  1px solid #373D42;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.container {
    width: 1170px;
}
.h-game-wrap{
    display: flex;
    color: #039BE5;
    height: 32px;
    width: 250px;
    background-image: url(/img/icons/arrowd.svg);
    background-repeat: no-repeat;
    background-position: 230px;
    margin-top: 24px;
}
.h-game-wrap img{
    width: 32px;
    height: 32px;
    border-radius: 39px;
    border: 1px solid #697077;
    margin-right: 8px;
}
.h-game-wrap h5{
    margin-top: 7px;
}
.h-space{
    height: 24px;
    /* margin-left: 6px;
    margin-right: 16px; */
    margin-top: 27px;
    border: 1px solid #373D42;
}
.h-center{
    width: 690px;
    display: flex;
    justify-content: space-between;
}
.h-cl{
    color: #B9BFC7;
    margin-top: 14px;
}
.h-cl h5{
    margin-top: 5px;
    margin-bottom: 0;
}
.h-cc{
    width: 260px;
    background-image: url(/img/icons/logo.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.h-cc img{
    display: block;
    margin-top: 26px;
    margin-left: 50px;
}
.h-cc h5{
    margin-top: 0;
    margin-left: 50px;
    color: #9FA5AD;
}
.h-cr{
    margin-top: 17px;
    width: 253px;
    height: 40px;
    background: #202529;
    border-radius: 38px;
}
.h-search{
    width: 24px;
    height: 24px;
    background-image: url(/img/icons/search.svg);
    margin-top: 29px;
}
.h-flag{
    width: 24px;
    height: 24px;
    background-image: url(/img/icons/EU.svg);
    margin-top: 29px;
}
.h-cart{
    position: relative;
    width: 90px;
    height: 42px;
    margin-top: 16px;
    background-image: url(/img/icons/Cart.svg);
    background-repeat: no-repeat;
    background-position-y: 11px;
    background-position-x: 45px;

}
.cart-quantity{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #8E24AA;
    border-radius: 39px;
}
.cart-cost{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #F2F4F8;
}
.cart-cost h5{
    margin: 0;
}
.mp-1s{
    background: #1A1E21;
    border: 1px solid #8E24AA;
    border-radius: 4px;
    margin-top: 24px;
    height: 126px;
}
.mp-2s{
    background: #1A1E21;
    border: 1px solid #373D42;
    border-radius: 4px;
    margin-top: 24px;
    height: 320px;
    background: linear-gradient(91.02deg, #1A1E21 0.24%, rgba(26, 30, 33, 0.5) 47.94%, rgba(26, 30, 33, 0) 99.78%);
}
.banner-text{
    margin-top: 70px;
    margin-left: 120px;
    margin-right: 120px;
}
.banner-text h1{
    color: #FB8C00;
    margin: 0;
}
.banner-text h3{
    color: white;
}
.banner-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #F2F4F8;
}
.banner-wrap{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.banner-btn{
    width: 144px;
    height: 30px;
    background: #8E24AA;
    border-radius: 8px;
    cursor: pointer;
    padding-top: 10px;
}
.banner-btn span{
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
}
.btn-after{
    margin-top: 10px;
}
.heading{
    display: flex;
    margin-top: 102px;
    margin-bottom: 32px;
    text-align: center;
    color: white;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 110%;
}
.heading-line{
    width: 127px;
    border: 0.5px solid #9FA5AD;
    height: 0;
    margin: 18px 24px 0px 24px;
}
.mp-3s{
    overflow: hidden;
}
.offer{
    position: relative;
    float: left;
    background: #1A1E21;
    border-radius: 4px;
    width: 573px;
    height: 240px;
    margin-right: 24px;
    margin-top: 24px;
    cursor: pointer;
}
.offer-b1{
    position: absolute;
    width: 137px;
    height: 137px;
    top: 23px;
    left: 24px;
    border-radius: 70px;
    background: #202529;
    border: 1px solid #373D42;
}
.offer-b1 img{
    display: block;
    margin: 36px !important;
    width: 65px;
}
.offer-b2{
    position: absolute;
    top: 5px;
    left: 205px;
    color: #D5D9E0;
    list-style-image: url(/img/icons/Ellipse\ 1.svg);
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}
.offer-b2 li{
    margin-top: 30px !important;
}
.offer-b3{
    position: absolute;
    top: 184px;
    background: #373D42;
    height: 56px;
    width: 100%;
    border-radius: 0 0 4px 4px;
}
.offer-b3 h4{
    color: #F2F4F8;
    margin-left: 16px;
    margin-top: 9px !important;
}
.offer-b3 h4 .cost-old{
    margin-left: 90px;
}
.mp-3s :nth-child(even){
    margin-right: 0;
}
.mp-3s :nth-child(1){
    margin-top: 0;
}
.mp-3s :nth-child(2){
    margin-top: 0;
}
.mp-4s{
    display: flex;
    justify-content: space-between;
}
.best{
    position: relative;
    background: #1A1E21;
    border-radius: 4px;
    width: 275px;
    height: 387px;
    cursor: pointer;
}
.best-b1{
    position: absolute;
    top: 88px;
    left: 88px;
    width: 100px;
    height: 118px;
}
.best-b2{
    position: absolute;
    height: 40px;
    left: 16px;
    bottom: 95px;
    color: #D5D9E0;
}
.best-b3{
    position: absolute;
    top: 331px;
    background: #373D42;
    background-image: url(/img/icons/Path\ 94.svg);
    background-position: 254px;
    background-repeat: no-repeat;
    height: 39px;
    padding-top: 17px;
    width: 100%;
    border-radius: 0 0 4px 4px;
}
.cost-old{
    font-size: 13px;
    color: #B9BFC7;
    text-decoration-line: line-through;
    margin-left: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.cost-new{
    font-size: 28px;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.mp-6s{
    display: flex;
    justify-content: space-between;
}
.why{
    border-radius: 4px;
    width: 275px;
    color: #F2F4F8;
}
.why span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #B9BFC7;
}
.why-round{
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background: #8E24AA;
    background-image: url(/img/icons/Path\ 17.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.text-block{
    width: 772px;
}
.text-block h1{
    color: #F2F4F8;
}
.text-block p{
    color: #F2F4F8;
}
.text-block h3{
    color: #F2F4F8;
}
.text-block h5{
    color: #039BE5;;
}
.f1{
    height: 96px;
    padding: 24px;
    background: #1A1E21;
    border: 1px solid #8E24AA;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 76px;
    margin-bottom: 32px;
}
.f2{
    display: flex;
    justify-content: space-between;
}
.f2-col{
    width: 275px;
    color: #F2F4F8;
}
.f2-col h4{
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #8E24AA;
}
.f2-col ul{
    padding: 0;
}
.f2-col li{
    list-style-type: none;
}
.f3{
    border-top: 1px solid #B9BFC7;
    color: #F2F4F8;
}
.f3 h6{
    text-align: center;
}
.cooperation{
    width: 772px;
    list-style-image: url(/img/icons/Ellipse\ 1.svg);
}
.cooperation h1, .cooperation h2, .cooperation h3, .cooperation h4{
    color: #F2F4F8;
}
.cooperation p{
    color: #D5D9E0;
}
.cooperation img{
    width: 100%;
}
.cooperation ul{
    padding: unset;
    padding-left: 12px;
}
.cooperation li{
    margin-top: 8px;
}
.coop-or{
    margin-top: 32px;
    padding-left: 24px;
    border-left: 8px solid #FB8C00;
    border-radius: 8px;
}
.card h1{
    text-align: center;
    color: #F2F4F8;
}
.card-headers{
    display: flex;
    border-bottom: 1px solid #9FA5AD;
}
.card-w1{
    width: 482px;
    margin-right: 48px;
}
.card-w2{
    width: 56px;
    margin-right: 48px;
}
.card-w3{
    width: 96px;
    margin-right: 48px;
}
.card-w4{
    width: 40px;
    margin-right: 48px;
}
.card-w5{
    width: 175px;
    margin-right: 48px;
}
.card-w6{
    width: 82px;
}
.card-headers p, .card-total p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #F2F4F8;
}
.card-item{
    display: flex;
    border-bottom: 1px solid #9FA5AD;
    padding-top: 16px;
    padding-bottom: 16px;
}
.card-item h5{
    color: #f2f4f8;
    margin: 0;
    margin-bottom: 8px;
}
.card-item h5 span{
    color: #9FA5AD;
    text-decoration-line: line-through;
}
.card-item h6{
    color: #9FA5AD;
    margin: 0;
}
.card-discount h5{
    color: #FB8C00;
    margin-left: 25px;
    padding-top: 3px;
}
.card-discount{
    margin-top: 8px;
    width: 132px;
    height: 24px;
    background-image: url(/img/icons/Sale.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.card-total-wrap{
    display: flex;
    justify-content: center;
    width: 100%;
}
.card-total{
    position: relative;
    width: 100%;
    height: 104px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.co-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 149px;
    height: 40px;
    background: #8E24AA;
    border-radius: 8px;
    background-image: url(/img/icons/checkmark.svg);
    background-repeat: no-repeat;
    background-position: 28px;
    cursor: pointer;
}
.co-btn h5{
    margin: 0;
    margin-left: 56px;
    margin-top: 10px;
    color: white;
}
.card-total p{
    position: absolute;
    right: 0;
}
.card-cost{
    position: absolute;
    top: 30px;
    right: 0;
}
.card-cost h3{
    margin: 0;
    color: #FB8C00;
    text-align: right;
}
.card-cost h3 span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: #9FA5AD;
    margin-right: 8px;
}
.card-coupon{
    position: relative;
    width: 175px;
    height: 40px;
    background: #202529;
    border: 1px solid #373D42;
    border-radius: 4px;
}
.card-coupon input{
    margin-left: 16px;
    margin-top: 12px;
    padding: 0;
    width: 90px;
    background-color: inherit;
    border: 0;
    outline: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #F2F4F8;
}
.card-coupon-submit{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -1px;
    width: 56px;
    height: 40px;
    background-image: url(/img/icons/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.card-coupon-submit:hover{
    position: absolute;
    background: #8E24AA;
    background-image: url(/img/icons/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #8E24AA;
    border-radius: 0 4px 4px 0;
}
.card-refresh{
    cursor: pointer;
    height: 24px;
    background-image: url(/img/icons/Refresh.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.card-refresh h5{
    margin-left: 25px;
    padding-top: 3px;
}
.card-delete{
    cursor: pointer;
    height: 24px;
    background-image: url(/img/icons/delete.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.card-delete h5{
    margin-left: 25px;
    padding-top: 3px;
}
.card-amount{
    display: flex;
    justify-content: space-between;
}
.card-amount-btn{
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: #202529;
    border: 1px solid #373D42;
    border-radius: 29px;
    text-align: center;
}
.card-amount h5{
    margin-top: 4px;
}
.card-amount-btn h5{
    margin-top: 3px;
    margin-left: 2px;
}
.about-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 32px;
}
.about-row img{
    width: 572px;
}
.about-col{
    width: 557px;
}
.about-col h2{
    color: #F2F4F8;
}
.about-col p{
    color: #D5D9E0;
}
.about-last{
    display: flex;
    justify-content: center;
    height: 368px;
    margin-top: 72px;
    background: linear-gradient(107.52deg, rgba(26, 30, 33, 0.8) 0%, rgba(55, 61, 66, 0.8) 100%);
}
.about-last-text{
    width: 557px;
    height: 172px;
    margin-top: 72px;
}
.order-wrap h1{
    text-align: center;
    color: #F2F4F8;
}
.order{
    overflow: hidden;
    color: #F2F4F8;
}
.order-left{
    float: left;
    width: 475px;
    margin-right: 120px;
}
.order-right{
    float: left;
    width: 575px;
}
.order-input{
    margin-bottom: 16px;
}
.order-input-w1{
    width: 275px;
}
.order-input-w2{
    width: 474px;
}
.order-input-w1 input{
    width: 259px;
}
.order-input-w2 input{
    width: 458px;
}
.order input{
    padding: 0;
    padding-top: 12px;
    padding-left: 16px;
    height: 28px;
    background-color: #202529;
    border: 1px solid #373D42;
    border-radius: 4px;
    outline: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #F2F4F8;
}
.error{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    text-align: right;
    color: #EC2B2D;
}
.error input{
    border: 1px solid #EC2B2D !important;
}
.payment{
    width: 197px;
    height: 88px;
    background: #1A1E21;
    border: 1px solid #373D42;
    border-radius: 4px;
    margin-bottom: 16px;
    background-position: 70px;
    background-repeat: no-repeat;
}
.order-right, .co-btn{
    position: unset;
}
.order-right, .co-btn h5{
    padding-top: 10px;
}
.order-headers{
    display: flex;
    border-bottom: 1px solid #9FA5AD;
}
.order-w1{
    width: 343px;
    margin-right: 32px;
}
.order-w2{
    width: 64px;
    margin-right: 32px;
}
.order-w3{
    width: 104px;
}
.order-headers p, .order-total p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #F2F4F8;
}
.order-item{
    display: flex;
    border-bottom: 1px solid #9FA5AD;
    padding-top: 16px;
    padding-bottom: 16px;
}
.order-item .order-w3 h5{
    text-align: right;
}
.order-cost h3{
    margin: 0;
    color: #FB8C00;
}
.order-cost h3 span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: #9FA5AD;
    margin-left: 8px;
}
.news-wrap{
    overflow: hidden;
}
.news-wrap :nth-child(3n) .news-block{
    margin-right: 0px !important;
}
.news-block{
    list-style-type: none;
    float: left;
    width: 374px;
    height: 354px;
    margin-right: 24px;
    margin-top: 32px;
}
.news-block img{
    width: 100%;
}
.news-block h3, .news-block p{
    color: #F2F4F8;
}